body {
    background-color: #FDFDFD;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header {
    padding-bottom: 10px;
    border-bottom: 3px solid #39C3E4;
}

.block {
  margin-top: 15px;
}

.block-header {
  border-bottom: 3px solid rgb(57,195,228, 0.7);
}

.li-header {
    border-bottom: 1px solid black;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 28px;
}

h3 {
  font-weight: 600;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}



/* NavBar on the left */

.navcol {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  border: none;
}

.navbar-default {
    /*background-color: #1D1D1D;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: white;
}

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navcol {
    height: 100vh;
    width: 180px;
    box-shadow: 3px 0px 5px -1px rgba(0,0,0,0.2);
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }
  .navbar {
  	max-width: 250px;;
    height: 100vh;
  	margin-right: 0;
  	margin-left: 0;
    border-radius: 0px;
    margin-bottom: 0px;
    border: none;
    color: white;
  }
  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header {
    float:none !important;
  }
  .navbar-right .dropdown-menu {
    left:0;right:auto;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
      margin-right: 0;
  }
}

/*Login & Register CSS*/

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #39C3E4;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #39C3E4;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #39C3E4;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #39C3E4;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #39C3E4;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.login-header {
    margin-top: 7%;
    margin-bottom: 1%;
    padding-bottom: 10px;
}

#register-checkbox {
    text-align:center;
}
